Source: autoversion
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 pyproject-common,
 python-all (>= 2.6.6-3~),
Standards-Version: 4.0.0
X-Python-Version: >= 2.6

Package: autoversion
Architecture: any
Depends:
 git (>= 1:2.1.4),
 ${misc:Depends},
 ${shlibs:Depends},
 ${python:Depends},
 pyproject-common,
Description: map git commits to auto-versions and vice versa
