#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with python2 --buildsystem=makefile

override_dh_auto_install:
	dh_auto_install -- prefix=$(CURDIR)/debian/$(DEB_SOURCE)/usr
	find $(CURDIR)/debian/$(DEB_SOURCE) -type d -empty -delete
